.footer-link li, .footer-link li a{
    position: relative;
    text-transform: capitalize;
    transition: all .3s;
}
.footer-link li::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    left: 0;top: 9px;
    opacity: 0;
    transition: all .3s;
}
.footer-link{padding-left: 0;}
.footer-link li:hover::after{opacity: 1;background-color: var(--secondary);}
.footer-logo{max-width: 150px;margin-bottom: 20px;}
.footer-link li a{color: inherit;}
.footer-link li:hover a{color: var(--secondary);padding-left: 10px;}
.footer-title{color: var(--secondary);margin-top: 0;font-size: 18px;letter-spacing: 1px;}
.footer{line-height: 26px;}
.copyright-text{
    padding: 10px;    
    color: rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(255, 255, 255, .5);
}
.copyright-text a{color: var(--secondary);}