.footer-link li, .footer-link li a{
    position: relative;
    text-transform: capitalize;
    transition: all .3s;
}
.footer-link li::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    left: 0;top: 9px;
    opacity: 0;
    transition: all .3s;
}
.footer-link li:hover a{color: var(--mdb-secondary);padding-left: 10px;}
.footer-link li:hover::after{opacity: 1;}
.footer-logo{max-width: 150px;margin-bottom: 20px;}