#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: #00c9a7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 24px;
  font-weight: bold;
  fill: #00c9a7;
}
