/* header css */
.header .logo img{max-width: 50px;}
.header .nav-item .nav-link{transition: all .3s; padding: 5px 25px;font-weight: bold;color: #555;text-transform: capitalize;}
.header .nav-item .nav-link:hover{color: #ef6521;}
.header .nav-item.user_block{margin-left: 20px;}
.top-row{font-size: 14px;line-height: 30px;}
.top-row ul li a{color: inherit;position: relative;padding: 0 8px;}
.top-row ul > li:not(:last-child) a{border-right: 1px solid rgba(255, 255, 255, .5);}
.top-row ul li a svg{width: 14px;}
.top-row ul{margin-bottom: 0;}
.top-row ul li{display: inline-block;}