
/* login css */
.login-wrapper{
    max-width: 550px;
    background-color: #fff;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .register-wrap{
    background: url(../assets/images/rcpanel.com.jpeg) center;
    min-height: calc(100vh - 106px);
  }