
body {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: var(--mdb-body-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --mdb-primary: #030139;
  --mdb-secondary: #f26a19;
  --mdb-primary-rgb: 3, 1, 57;
  --mdb-secondary-rgb: 242, 106, 25;
  --mdb-body-font-size: 14px
}
a, .btn-outline-primary{color: var(--mdb-primary-rgb);}
.btn-outline-primary{border-color: var(--mdb-primary-rgb);}

.btn-primary:hover{background-color: rgba(var(--mdb-secondary-rgb), var(--mdb-bg-opacity)) !important;}
.btn-outline-primary:hover{border-color: var(--mdb-secondary);color: var(--mdb-secondary);}
.bg-primary, .btn-primary {
  --mdb-bg-opacity: 1;
  background-color: rgba(var(--mdb-primary-rgb), var(--mdb-bg-opacity)) !important;
}


.subtitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-title {
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 600;
  color: var(--mdb-primary);
}
.section-space{
  padding: 70px 0;
}