body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a, .btn-outline-primary{color: #144166;}
.bg-primary, .btn-primary{
  background-color: #144166 !important;
}
.btn-primary, .btn-outline-primary{
  border-color: #144166 !important;
}

.text-secondary{color: #ef6521 !important;}